@use "../base/variables" as *;
@use "../base/mixins" as m;

.form {
  @include m.flexCol();
  gap: 5rem;

  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__content {
    height: 100%;
    background-color: $bgred;
    color: $textwhite;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include m.desktop {
      gap: 5rem;
    }
  }
  &__title {
    padding-bottom: 5rem;
  }

  &__button {
    @include m.button($bggray, $textwhite);
    transition: background-color, 0.3s ease;
    margin-top: 1rem;
    font-weight: 700;

    &:hover {
      cursor: pointer;
      background-color: $bggrayhover;
    }
  }

  &__image {
    display: flex;
    justify-content: center;

    @include m.tablet {
      margin-top: 5rem;
    }
  }
  &__image img {
    width: 30rem;

    @include m.desktop {
      width: 100%;
    }
  }
}