@use "../base/variables" as *;
@use "../base/mixins" as m;

.offer {
  margin: 5rem auto 6rem;
  @include m.flexCol();
  gap: 2rem;

  &__advantages {
    @include m.flexCol();
    gap: 2rem;

    @include m.tablet {
      @include m.grid(1, 3);
    }
  }

  &__info {
    @include m.flexCol();
    gap: 2rem;
  }
}
