@use "../base/variables" as *;
@use "../base/mixins" as m;

.group {
  background-image: linear-gradient($pink 50%, $turquesa 50%);

  @include m.tablet {
    background-image: linear-gradient(to right, $pink 50%, $turquesa 50%);
  }

  &__content {
    color: $white;
    text-align: left;
    display: grid;

    @include m.tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    gap: 5rem;
    padding: 5rem 0;
  }

  &__option {
    @include m.flexCol();
    align-items: start;
    gap: 3rem;
    margin: 2rem 0 2.4rem;
  }

  &__title {
    font-size: 3rem;
  }

  &__info {
    font-size: 2.4rem;
  }
}
