@use "../base/variables" as *;
@use "../base/mixins" as m;

.testimonials{
    margin-bottom: 5rem;
    &__title{
        margin: 5rem auto;
    }
    &__clients{
        display: grid;
        gap: 2rem;

        @include m.tablet{
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}