@use "../base/variables" as *;
@use "../base/mixins" as m;

.option {
  background-color: $white;
  color: $black;
  @include m.flexCol();
  align-items: center;
  gap: 1.5rem;
  padding: 4rem;
  transition-duration: 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &--principal {
    background-color: $green;
    z-index: 100;
    @include m.tablet {
      order: 1;
      padding-top: 8rem;
      border-radius: 2rem;
      margin-top: -5rem;
      margin-bottom: -5rem;
    }
  }

  &__icon {
    max-width: 10rem;
  }

  &__price {
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
    @include m.flexCol();
    gap: 1.5rem;
  }

  &__button {
    @include m.button($green);
    width: 100%;

    &:hover {
        background-color: $greenHover;
    }

    &--principal {
      border: 2px solid $white;
    }
  }

  &--begin {
    border-bottom: 1px solid $border;
    @include m.tablet {
      border: none;
    }
  }

  &--pro {
    @include m.tablet {
      order: 2;
    }
  }
}
