/* 
    Decimos que un contenido se desborda cuando la caja es mas pequenha que el contenedor
    Overflow:
        Es la propiedad que controla que debe hacer la caja cuando su contenido se desborda del contenedor.
        Es un shorthand que engloba overflow-x y overflow-y 
        Tiene cuatro posibles valores:
            visible -> Es el valor por defecto.
            hidden -> El contenido que se desborde no se vera. Si aplicamos esta propiedad en un solo eje, el otro se pondra automaticamente en el valor scroll.
            scroll -> Apareceran barras de scroll en el eje asignado (x, y o ambos)
            auto -> Apareceran barras de scroll en el caso de que hicieran falta.
*/

*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff;
    margin: 0;
}

.box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: lightcyan;
    width: 300px;
    height: 300px;
    color: black;
    /* overflow: scroll; */

    border-radius: 50px;
    /* Para que el contenido con color encaje en el cuadro de borde: */
    overflow: hidden;
}

.box-1, 
.box-2{
    padding: 20px;
    background-color: lightcoral;
}

.text{
    margin: 0;
}
