@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

:root {
    --primaryPurple: #6834a6;
    --fuentePrincipal: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
}
img{
    max-width: 100%;
}

/* HEADER */
header{
    background-image: url(/img/header_bg.svg);
    background-size: 50rem;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 110rem;
}
.contenedor{
    width: 63%;
    margin: 0 auto;
}
.header__barra{
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}
.barra__logo{
    width: 15rem;
}
.barra__nav{
    display: flex;
    gap: 2rem;
}
.link{
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
}
.header__principal{
    display: flex;
}
.principal__info{
    width: 63%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.info__title{
    font-size: 5rem;
    font-weight: 900;
    padding-top: 17rem;
    padding-right: 15rem;
    line-height: 6rem;
}
.info__button{
    width: 19rem;
    text-decoration: none;
    background-color: var(--primaryPurple);
    color: white;
    padding: 1.4rem 0;
    font-size: 1.6rem;
    text-align: center;
}
.cellphone img{
    width: 30rem;
}

/* MAIN */
.subtitle{
    text-align: center;
    margin: 5rem auto;
    font-size: 4.5rem;
    font-weight: 900;
}

.main__contain{
    padding: 3rem 0;
    display: flex;
    gap: 5rem;
    align-items: center;
}
.contain__cell img{
    width: 38rem;
}
.contain__info{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.info__section{
    font-size: 2rem;
    background-color: white;
    border: 1px solid rgb(223, 223, 223) ;
    box-shadow: 1px 1px 15px 4px rgb(223, 223, 223);
    padding: 0 2rem;  
    transition-duration: 300ms;
}
.info__section:hover{
    transform: scale(1.1);
  
}
.info__subtitle{
    color: var(--primaryPurple);
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
    padding-top: 3rem;
}
.info__text{
    margin: 0;
    text-align: left;
    line-height: 3.5rem;
    padding: 1rem 0 2rem 0;
}

/* SECURITY SECTION */
.security{
    background-color: var(--primaryPurple);
    margin: 15rem 0;
    padding: 10rem 0;
    clip-path: polygon(0% 0%, 100% 10%, 100% 94%, 0 100%);
}
.subtitle--white{
    color: white;
    padding-top: 10rem;
    padding-bottom: 2.5rem;
}
.security__contain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
}
.info__section--shadow{
    box-shadow: none;
    padding-top: 1rem;
}
.contain__img img{
    width: 58rem;
}

/* COMISIONES */
.comision__contain{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.8rem;
    align-items: center;
}
.contain__text{
    text-align: left;
    font-size: 2.4rem;
    font-weight: 700;
}
.comision__block{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.info__section--comision{
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
}
.info__subtitle--comision{
    font-size: 4rem;
    padding-left: 2rem;
}
.comision__img{
    padding-left: 2rem;
}
.comision__img img{
    width: 57.5rem;
}

/* TESTIMONIOS */
.testimony{
    background-color: var(--primaryPurple);
    padding-bottom: 5rem;
}
.testimony__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}
.testimony__block{
    background-color: white;
}
.testimony__info{
    display: flex;
    gap: 1rem;
    padding: 2rem;
}
.testimony__info img{
    width: 3rem;
    height: 3rem;
}
.testimony__text{
    font-size: 1.5rem;
}
.testimony__name{
    text-align: right;
    margin: 0;
    padding-right: 2rem;
    padding-bottom: 3rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--primaryPurple);
}

/* FOOTER */
footer{
    background-color: rgb(90, 48, 160);
}
.footer__contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}
.footer__logo img{
    width: 20rem;
}