/* Como funciona CSS?
Especificidad -> Establece como de especifico es un selector para saber que estilo aplicar.
El calculo se realiza de la siguiente formula:
    Etiquetas y pseudoelementos -> 001
    Clases, atributos y pseudoclases -> 010
    Ids -> 100
    Estilos en linea -> 1000
    ! important -> GANA A TODO Y NO SE DEBE USAR NUNCA
Cascada -> Funciona siempre que la especificidad sobre el elemento sea la misma.
Herencia -> Es la capacidad que tienen algunos elementos de heredar algunas propiedades de sus elementos contenedores (padres, abuelos, etc)
 */

 .title{
    color: aqua;
    font-size: 50px;
}

.text{
    color: yellowgreen;
}

.link{
    color: inherit;
}

.list{
    color: brown;
}

.list-item-extra{
    color: initial;
}
 /* h1{
    background-color: red;
 }

 .title{
    background-color: blue;
 }

#title{
    background-color: green;
}

h1.title{
    background-color: yellow;
}

h1#title{
    background-color: teal;
}

h1.title#title{
    background-color: aqua;
} */
