@use "../base/variables" as *;
@use "../base/mixins" as m;

.header {
  color: $white;
  background-image: linear-gradient(90deg, $blueGrayBg 0, $blueGrayBg),
    url(../src/img/header_bg.jpg);
  background-position: 50%;
  background-size: cover;
  padding: 3rem 0;

  @include m.tablet {
    padding: 3rem 0 20rem;
    position: relative
  }

  &__barra {
    @include m.flexCol();
    gap: 5rem;

    @include m.tablet {
      flex-direction: row;
    }
  }

  &__logo {
    width: 25rem;
  }

  &__nav {
    @include m.flexCol();
    gap: 1.5rem;
    font-size: 1.8rem;

    @include m.tablet {
      gap: 2rem;
      flex-direction: row;
    }
  }

  &__content {
    text-align: center;

    @include m.tablet {
      margin-top: 10rem;
      padding-right: 30rem;
      text-align: left;
    }

    @include m.desktop {
        padding-right: 70rem;
      }
  }

  &__title {
      margin: 2rem auto;
  }

  &__text {
    display: none;
    @include m.tablet {
      display: block;
    }
  }

  &__image {
    display: none;

    @include m.tablet {
      display: block;
      position: absolute;
      max-width: 35rem;
      border-radius: 2rem 0 0 5rem;
      right: 0;
      bottom: -5rem;
    }

    @include m.desktop {
        max-width: 60rem;
      }
  }
}