@use "../base/variables" as *;
@use "../base/mixins" as m;

.welcome{
    margin: 8rem auto;

    &__title{
        @include m.title();
    }

    &__slogan{
        color: $grayText;
        font-size: 2.6rem;
        line-height: 1.8;
        margin: 4rem auto 0;
        max-width: 50rem;
    }
}