@use "../base/variables" as *;
@use "../base/mixins" as m;

.header{
    @include m.bgImage('/src/img/header.jpg', $gradiant);
    padding: 5rem 0;

    &__contain{
        color: $white;
    }

    &__logo{
        @include m.tablet{
            margin: 0;
        }
    }

    &__info{
        padding: 10rem 0;

        @include m.desktop{
            padding: 15rem 0;
        }
    }

    &__title{
        font-size: 4.5rem;
        line-height: 1.1;
        margin-bottom: 2rem;

        @include m.tablet{
            max-width: 50%;
            font-size: 6rem;
        }
        @include m.desktop{
            max-width: 40%;
        }
    }

    &__button{
        @include m.button($green);

        &:hover{
            background-color: $greenHover;
        }

        @include m.tablet{
            display: inline-block;
        }
    }
}