@use '../base/mixins' as m;

.header__barra{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    @include m.tablet{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        width: 45%;
        margin: 0 auto;

        @include m.tablet{
            width: 20rem;
            margin: 0;
        }
    }
}