@use "../base/variables" as *;
@use "../base/mixins" as m;

.steps {
  &__image {
    margin-top: 5rem;
    margin-bottom: -1px;
  }
  &__content {
    background-color: $bgred;
    color: $textwhite;
  }
  &__subtitle {
    font-size: 1.8rem;
  }
  &__single {
    margin-top: 5rem;
    display: grid;

    &--img {
      transition: 0.3s;
    }

    &--img:hover {
      transform: rotate(-4deg) scale(1.2);
    }

    @include m.tablet {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
