@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

// FUENTES
$font_principal: 'Roboto', sans-serif;

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// COLORES
$letterNude: rgb(195, 156, 99);
$bodyBeige: rgb(235, 231, 222);
$sectionBrown: rgb(94, 49, 30);

// UNIDADES
$separation: 5rem;