@use "variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font_principal;
  font-size: 1.6rem;
  background-color: $iceColor;
}

.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $white;
}

img {
  max-width: 100%;
  display: block;
}

p {
  font-size: 1.6rem;
  line-height: 1.8;
}

h1,
h2 {
  font-family: $font_secundary;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 4rem;
  margin: 2rem 0;
}

h3 {
  font-size: 3rem;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}